html,body{
    border: 0px;

    margin: 0px;
    width: 100%;
}
.page{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,#476072,#548CA8);
    overflow: hidden;
}
#page1 .container1{
    display: flex;
    width: 15%;
    height: auto;
    justify-content: center;
}
#123{
    justify-content:end;
}
#321{
    justify-content: end;
}
#page1{
    background-image: url("../asset/back2.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#page1 .top{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    color: #334257;
}
#page1 .top h2{
    font-family: Titillium Web, serif;
    font-size: 1.5vw;
}
.top-logo{
    width: 5%;
    height: auto;
    max-width: 10%;
    min-width: 5%;
    margin: 2%;
}

#page1 .mid{
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: center;
}
#page1 .mid h1{
    font-family: Titillium Web, serif;
    font-style: italic;
    font-weight: 2000;
    font-size: 5vw;
    color: #EEEEEE;
}
#page1 .mid :hover{
    transition: ease-in-out 200ms;
    color: #476072;
}
#page1 .bottom{
    display: flex;
    height: 20%;
    align-items:center;
    justify-content: center;
    color: #548CA8;
}
#page1 .bottom h2{
    margin: 1%;
    font-size: 1.5vw;
}
#page1 .bottom p{
    font-family: Titillium Web, serif;
    font-style: light;
    font-size: 1vw;
}
#page1 .bottom p:hover{
    transition: ease-in 100ms;
    color: #EEEEEE;
}

#page1 .button-bottom{
    text-decoration: none;
    color: inherit;
}

#hal-profile{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#hal-profile .container-photo{
    display: flex;
    margin: 5vw;
}
#hal-profile .container-photo img{
    width: 40vw;
    max-width: 450px;
}

#hal-profile .container-desc{
    margin: 3vw;
    flex-direction: column;
    color: #EEEE;
}

#hal-profile .name{
    font-family: Titillium Web, serif;
    font-style: Bold;
    font-size: 100%;
    text-shadow: 5px 5px 3px #334257;
    padding: 0;
}
#hal-profile .desc{
    display: flex;

    font-family: Titillium Web, serif;
    font-style: normal;
    font-size: 1vw;
}

.social-media{
    margin-top: 4%;
    display: flex;
    color: #334257;
    width: 20%;
    justify-content: space-between;

}
.button-sos{
    text-decoration: none;
    color: inherit;
    font-size: 2vw;
}

.button-sos:hover{
    transition: ease-in 200ms;
    color: #EEEE;
}