html,body{
    border: 0px;
    font-family: Roboto, serif;
    margin: 0px;
    width: 100%;
}
body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
  }
  
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.page{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.page-mid{
    width: 100%;
    height: 350vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: linear-gradient(45deg,#476072,#548CA8);
}
#layer1 img{
    position: absolute;
    height: 315vh;
    width: 100%;
    opacity: 30%;
}
#page1 .container1{
    display: flex;
    width: 15%;
    height: auto;
    justify-content: center;
}
#123{
    justify-content:end;
}
#321{
    justify-content: end;
}
#page1{
    background-image: url("../asset/back2.jpg");
    ;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#page1 .top{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    width: 100%;
    color: #334257;
}
#page1 .top h2{
    font-size: 1.5vw;
}
.top-logo{
    width: 5%;
    height: auto;
    max-width: 10%;
    min-width: 5%;
    margin: 2%;
}

#page1 .mid{
    display: flex;
    height: 60%;
    align-items: center;
    justify-content: center;
}
#page1 .mid h1{
    font-style: italic;
    font-weight: 2000;
    font-size: 5vw;
    color: #476072;
}
#page1 .mid :hover{
    transition: ease-in-out 200ms;
    color: #EEEEEE;
    transform: translate(0px, 2px);
    -webkit-transform: translate(0px, 2px);
}
#page1 .bottom{
    display: flex;
    height: 20%;
    align-items:center;
    justify-content: center;
    color: #548CA8;
}
#page1 .bottom h2{
    margin: 1%;
    font-size: 1.5vw;
}
#page1 .bottom p{
    font-style: light;
    font-size: 1vw;
}
#page1 .bottom p:hover{
    transition: ease-in 100ms;
    color: #EEEEEE;
}

#page1 .button-bottom{
    text-decoration: none;
    color: inherit;
}

#hal-profile{
    display: flex;
    width: 100%;
    height: 75vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}

#hal-profile .container-photo{
    display: flex;
    width: 40vw;
    margin-left: 5vw;
    align-items: center;
    justify-content: center;
}
#hal-profile .container-photo img{
    width: 25vw;
    max-width: 450px;
    overflow: hidden;
    border-style: solid;
    border-radius: 1000px;
    border-color: #EEEEEE;
    border-width: 5px;
}

#hal-profile .container-desc{
    display: flex;
    width: 60vw;
    margin: 3vw;
    flex-direction: column;
    color: #EEEE;
}

#hal-profile .name{
    font-style: Bold;
    font-size: 120%;
    text-shadow: 3px 3px 2px #334257;
}
#hal-profile .desc{
    display: flex;
    font-style: normal;
    font-size: 1.2vw;
    margin-right: 2vw;
}

#hal-profile .social-media{
    margin-top: 4%;
    display: flex;
    color: #334257;
    width: 20%;
    justify-content: space-between;

}
#hal-profile .button-sos{
    text-decoration: none;
    color: inherit;
    font-size: 2vw;
}

#hal-profile .button-sos:hover{
    transition: ease-in 200ms;
    color: #EEEE;
}

.hal-about{
    display: flex;
    width: 100%;
    height: 110vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}
.container-about{
    display: flex;
    flex-direction: column
}
.about{
    display: flex;
    width: 100%;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.about .container-img{
    display: flex;
    width: 40%;
    height: 100%;
    max-height: 40vh;
    overflow: hidden;
    border-radius: 40px;
    border-style: solid;
    border-color: #EEEEEE;
    border-width: 5px;
    margin:5vw;
    position: relative;
    align-items: center;
    justify-content: center;
}

.container-img img{
    width: 60vw;
    min-height: 100%;
    height: auto;
    filter: brightness(50%);
}
.container-img h1{
    position: absolute;
    color: #EEEEEE;
}
.container-img img:hover{
    transition: ease-in 200ms;
    filter: brightness(100%);
}

.container-penjelasan{
    color: #EEEE;
    margin: 5vw;
    width: 60%;
    font-size: 1.2vw;   
}

#text321{
    text-align: right;
}

.title-about{
    display: flex;
    align-items:center;
    margin-left: 5vw;
    justify-content: start;
    height: 15vh;
}

.title-about h1{
    margin: 0.5vw;
    background-color: #EEEE;
    color: #476072;
    font-size: 1.2vw;
    font-weight: 0.5px;
    font-style: italic;
}

.hal-project{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 5vh;
    z-index:0;
    flex-direction: column;
}
.hal-project .project-window{
    width: 65vw;
    height: 80vh;
    background-color:#EEEE;
    border-color: #EEEEEE;
    border-style: solid;
    border-width: 5px;
    border-radius: 40px;
    overflow: hidden;
    justify-content: center;
}

.project-window video{
    width: 65VW;
    min-height: 100%;
}
.container-code{
    display: flex;
    margin-top: 7vh;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

.container-code img{
    width: 20vw;
}
.container-code :hover{
    transition: ease-in;
    transform: translate(0px, 2px);
    -webkit-transform: translate(0px, 2px);
}
.end-page{
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.container-end {
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 30vh;
    padding: 2vw;
    background-color: #EEEEEE;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.container-end form{
    display: flex;
    width: 100%;
    justify-content: center;
}

.container-end h3{
    color: #476072;
}
.container-end .profile{
    width: 40%;
}
.container-end .message{
    width: 40%;
}

.container-end .profile input{
    width: 30vw;
    background-color: #EEEEEE;
    border: solid;
    border-color: #476072 ;
}

.container-end .message textarea{
    height: 11.6vh;
    width: 30vw;
    background-color: #EEEEEE;
    border: solid;
    border-color: #476072;
}
.container-end .message input[type=submit]{
    background-color: #476072;
    border: none;
    color: #EEEEEE;
    width: 30.55vw;
}
#navbar{
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    z-index: 20;
}
.container-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-right: 5vw;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    background-color: rgb(71, 96, 114);
    color: #334257;
}
.container-button a{
    text-decoration: none;
    color: inherit;
}
.container-button a:hover{
    transition: ease-in 200ms;
    color: #EEEEEE;
}
.container-button h3{
    margin: 10px;
    font-weight: 50;
}
.sticky{
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}
